<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Odds_Grabber___sbobet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Odds_Grabber___sbobet.Properties.Settings>
            <setting name="______odds_issend_01" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="______odds_issend_02" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="______odds_iswaiting_01" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="______odds_iswaiting_02" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="______is_send_telegram" serializeAs="String">
                <value>True</value>
            </setting>
        </Odds_Grabber___sbobet.Properties.Settings>
    </userSettings>
</configuration>